@model DataLayer.Models.Specialization


    <!-- Navigation-->

    <!-- Header-->
    <header class="bg-light py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center">
                <h1 class="display-4 fw-bolder">@Model.Name</h1>
                <p class="lead fw-normal  mb-0">@Model.Description</p>
            </div>
        </div>
    </header>
    <!-- Section-->
<section id="doctors" class="doctors section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p style="display:none">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            @foreach(var item in Model.Doctors)
            {
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="~/assets/@item.Img" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>@item.Name</h4>
                            <span>@Model.Name</span>
                            <p style="font-size:13px;">@item.Description</p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
            
        </div>

    </div>

</section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->

