@model IEnumerable<Event>

<div style="text-align:right; margin-top:30px; margin-right:20px;">
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>
<div class="container-xxl flex-grow-1 ">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span>Events</h4>

    <!-- Bootstrap Table with Header - Light -->
    <div class="card">
        <h5 class="card-header"> </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Title</strong></td>
                            <td>@item.Description</td>
                            <td>
                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                    <li data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs pull-up"
                                        title="@item.Title">
                                        <img src="~/@item.ImgPath" alt="Avatar" class="rounded-circle" />
                                    </li>
                                </ul>
                            </td>
                            <td>$@item.Price</td>
                            <td>@item.StartDate.ToString("dd MMM yyyy")</td>
                            <td>@item.EndDate.ToString("dd MMM yyyy")</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                       
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Bootstrap Table with Header - Light -->

    <hr class="my-5" />


</div>